@import '../_variables';
@font-face {
    font-family: "Roboto-Black Roboto-Bold Roboto-Regular Inter-Regular Inter-Bold";
    src: url('../global/_fonts.scss');
}

.header__wrapper {
    width: calc(100% - 50px);
    justify-content: space-between;
    column-gap: 4rem;
}

.header__logo-title {
    font-family: 'Inter Bold';
    color: $base;
}

.header__logo-link {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__logo-subtitle {
    font-family: 'Inter-Regular';
    color: $dark_gray;
}

.header__icons,
.header__nav,
.header__lang {
    display: flex;
    column-gap: 2.5rem;
    font-family: 'Roboto-Bold';
}

.header__button {
    background-color: $base;
    width: 130rem;
    height: 12.2rem;
    color: white;
    font-family: 'Roboto-Bold';
    border: 0;
}

ul {
    list-style-type: none;
    column-count: 3;
}

p {
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

.header__burger{
    display: none;
}

@media (max-width: 1024px) {
    .header__icons{
        width: 10rem;
        height: auto;
    }
}


