@import '../_variables';
@font-face {
    font-family: "Roboto-Black Roboto-Bold Roboto-Regular Inter-Regular Inter-Bold";
    src: url('../global/_fonts.scss');
}

.slider{
    position: relative;
}

.slider__photos {
    display: flex;
    justify-content: center;
    text-align: start;
    color: $white;
}

.slider_main>img{
    // height: 50rem;
}

.slider_photos_text_container{
    position: absolute;
    top: 7rem;
    left: 40rem;
    background-color: $base;
    width: 35rem;
    height: 25rem;
    border-radius: 1rem;
}

.slider_photos_text__title {
    position: absolute;
    left: 4.5rem;
    bottom: 18rem;
    white-space: nowrap;
    font-family: 'Inter-Bold';
    font-size: 3rem;
    color: $white;
}

.slider_photos_text__upper{
    position: absolute;
    left: 4.5rem;
    bottom: 10rem;
    max-width: 40rem;
    font-family: 'Inter-Bold';
    font-size: 2.4rem;
    color: $white;
}

.slider_photos_text__lower {
    position: absolute;
    left: 4.5rem;
    bottom: 7rem;
    max-width: 40rem;
    font-family: 'Inter-Bold';
    font-size: 2.4rem;
    color: $white;
}

.slider_photos_text__button{
    position: absolute;
    bottom: 8rem;  
    right: 43.5rem;
}

.slider__button>svg{
    width: 23rem;
    height: auto;
}

.slider__arrow-1,
.slider__arrow-2 {
    position: absolute;
    top: 40%;
    cursor: pointer;
}

.slider__arrow-1{
    right: 14%;
    transition: transform 0.3s ease-in-out;
    transform-origin: top center;
}

.slider__arrow-2 {
    left: 14%;
}

.slider__arrow-1:hover,
.slider__arrow-2:hover {
  transform: scale(1.1); /* Увеличиваем элемент при наведении на 10% */
}

.slider__ellipse_1,
.slider__ellipse_2,
.slider__ellipse_3 {
    bottom: 1rem;
    position: absolute;
    // transform: translate(-50%, -50%);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.slider__ellipse--active{
    transform: scale(1.2);
}

.slider__ellipse_1 {
    left: 45%;
}

.slider__ellipse_2 {
    left: 50%;
}

.slider__ellipse_3 {
    left: 55%;
}

.slider_main_photo {
    width: 100%;
    height: auto;
}

@media (max-width: 1024px) {


    .slider__arrow-1{
        top: 45%;
        right: 12%;
    }

    .slider__arrow-2{
        top: 45%;
        left: 12%;
    }

    .slider__ellipse_1,
    .slider__ellipse_2,
    .slider__ellipse_3 {
        bottom: 0.1rem;
    }
}

@media(max-width: 800px) {
    .slider__arrow-1,
    .slider__arrow-2{
        display: none;
    }

    .slider__ellipse_1>svg,
    .slider__ellipse_2>svg,
    .slider__ellipse_3>svg {
        width: 5rem;
        height: auto;
    }
}


