@import '../../variables';


.about_container__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: start;
    font-family: 'Roboto-Regular';
    width: 130rem;
    padding: 1.5rem 0;
}

.content {
    text-align: justify;
    text-indent: 5rem;
}
