.ourproducts_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1450px;
    padding: 40px;
}

.products_photos {
    // margin-left: 70px;
    column-gap: 60px;
    display: flex;
    justify-content: center;
}

.products {
    text-align: center;
}

.product-name {
    padding: 20px;
}
