<footer class="footer">
    <div class="container">
        <div id="footer" class="footer_wrapper wrapper">

            <div class="header__logo footer__logo">
                <a href="#" class="header__logo-link">
    
                    <h3 class="header__logo-title">LOREMIPSUM</h3>
                    <p class="header__logo-subtitle">lorem ipsum</p>
                </a>
            </div>
                
            <div class="footer_links_container">
                <div class="footer__links">
                    <div class="links">
                        <p class="footer__link_title">Main</p>
                        <p class="footer__link_description">Question-answer</p>
                    </div>
                    <div class="links">
                        <p class="footer__link_title">Store</p>
                        <p class="footer__link_description">Regulatory Documents</p>
                    </div>
                    <div class="links">
                        <p class="footer__link_title">Blog</p>
                        <p class="footer__link_description">General Information</p>
                    </div>
                    <div class="links">
                        <p class="footer__link_title">Contact</p>
                        <p class="footer__link_description">English</p>
                    </div>
                </div>
                <div class="footer_info_container footer_links_container">
                    <div class="footer__info footer__links">
                        <div class="links support">
                            <span class="footer__icon footer__link_description">@@include('../../svg/include/phone.svg')</span>
                            <p class="footer__link_title footer__info_title">+7 000 000 00 00</p>
                        </div>
                    </div>
                    <div class="footer__info footer__links">
                        <div class="links support">
                            <span class="footer__icon footer__link_description">@@include('../../svg/include/clock.svg')</span>
                            <p class="footer__link_title footer__info_title">Opening hours</p>
                        </div>
                    </div>
                    <div class="footer__info footer__links">
                        <div class="links support">
                            <span class="footer__icon footer__link_description">@@include('../../svg/include/callback.svg')</span>
                            <p class="footer__link_title footer__info_title">Callback</p>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="footer_line_container">
                <!-- <span class="footer__line">@@include('../../svg/include/footer_line.svg')</span> -->
                <hr class="footer__line">
            </div>
            <div class="footer__rights">
                <span>@@include('../../svg/include/c.svg')</span>
                <p>Lorem ipsum       |       All rights reserved</p>
            </div>
            </div>
        </div>
    </div>
</footer>
