<header class="header">
        <div class="header__wrapper wrapper">
            <div class="header__logo">
                <a href="#" class="header__logo-link">
                    <h3 class="header__logo-title">LOREMIPSUM</h3>
                    <p class="header__logo-subtitle">lorem ipsum</p>
                </a>
            </div>
            <div class="header__icons">
                @@include('../../svg/include/tg_header_1024px.svg')
                @@include('../../svg/include/phone_header_1024px.svg')
            </div>
            <nav class="header__nav">
                <ul>
                    <li><a href="" class="header__nav-link">Store</a></li>
                    <li><a href="" class="header__nav-link">Blog</a></li>
                    <li><a href="" class="header__nav-link">Contact</a></li>
                </ul>
            </nav>
            <div class="header__lang">
                <p class="header__lang-item">RU</p>
                <p class="header__lang-item">ENG</p>
            </div>
            <a href="#" class="header__burger">
                <span>
                    @@include('../../svg/include/burger_menu.svg')
                </span>
            </a>
            <button class="header__button">Place Order</button>
        </div>
        <hr class="line">
</header>

