<header class="header">
    <div class="container">
        <div class="header_wrapper wrapper">
            <div class="header__link_logo">
    
                <h3 class="header__logo">LOREMIPSUM</h3>
                <p class="header__bottom__logo">lorem ipsum</p>
            </div>
            <div class="header__icons">
                @@include('../../svg/include/tg_icon.svg')
                @@include('../../svg/include/phone.svg')
            </div>
            <div class="header__links">
                <p>Store</p>
                <p>Blog</p>
                <p>Contact</p>
            </div>
            <div class="header__lang">
                <p>RU</p>    
                <p>ENG</p>
            </div>
            <button class="header__button">Place Order</button>
        </div>
        <div class="line"></div>
    </div>
    
</header>

